form.contact{
    width: 500px;
    display: block;
    height: 300px;
    background-color: white;
    position: relative;
    left: 500px;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
    top: 120px;
    padding: 40px;
}